 .ui-widget {
    font-size: 90% !important;
 }
.ui-widget .ui-widget {
    font-size: 100%;
 }

.vertical-separator .ui-separator { 
    background: #A8A8A8; 
    width: 1px; 
    clear: none; 
    height: 22px; 
    margin: 4px 6px 0; 
    box-shadow: none; 
}

.ui-menubar-options {
    float: left !important;
}
.ui-dock-bottom {
    width: 99% !important;
}

.ui-growl {  
    position:fixed;
    top: 10%;
    left: 37%;
    width: 350px;
    height: 110px;
    z-index:9999;
}

.ui-growl-message {
    width: 270px;
}


#carousel {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  background: #efefef;
  overflow: hidden;
}
#carousel .carousel_box {
  float: left;
  border: solid #fff 5px;
  width: 140px;
  height: 140px;
  color: #fff;
  background: #252525;
  line-height: 140px;
  text-align: center;
  font-size: 123%;
}

.eachColumn {
    vertical-align: top;
}

.ui-datalist-data {
    padding-left: 22px;
}

.filesTable .ui-datatable-header {
    height: 25px;
}
